{:duct.profile/base
 {:duct.core/project-ns todo
  ;; :duct.database.sql/hikaricp {:jdbc-url "jdbc:sqlite:db/dev.sqlite3"}

  :duct.router/ataraxy
  {:routes {[:get "/"] [:todo.handler/index]
            [:get "/entries"] [:todo.handler.entries/list]
            [:post "/entries" {{:keys [description]} :body-params}]
            [:todo.handler.entries/create description]
            }}

  [:duct.handler.static/ok :todo.handler/index]
  {:body {:entries "/index"}}

  [:duct.handler.sql/query :todo.handler.entries/list]
  {:sql ["SELECT * FROM entries"]}

  [:duct.handler.sql/insert :todo.handler.entries/create]
  {:request {[_ description] :ataraxy/result}
   :sql ["INSERT INTO entries (description) VALUES (?)" description]}

  :duct.logger.timbre/println {}
  :duct.logger/timbre
  {:level    :info
   :appender #ig/ref :duct.logger.timbre/println}

  :duct.migrator/ragtime
  {:database   #ig/ref :duct.database/sql
   :logger     #ig/ref :duct/logger
   :strategy   :rebase
   :migrations [#ig/ref :todo.migration/create-entries]
   :migrations-table "ragtime_migrations"}

  [:duct.migrator.ragtime/sql :todo.migration/create-entries]
  {:up ["CREATE TABLE entries (id INTEGER PRIMARY KEY, description TEXT)"]
   :down ["DROP TABLE entries"]}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api
 {}
 :duct.module/sql
 {}}
